#navBar-Container {
    background-color: white;
    border-bottom: black solid 1px;
}

#bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#Container {
    display: flex;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.Container-Child {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 60%;
    color: white;
}

#image {
    height: 50%;
    width: 60%;
}
